@import "../../../../assets/scss/variable.scss";
.checkin-container {
  background-color: #ffc306;
  height: 100vh;
  .checkin-header {
    height: 50px;
    padding-top: 10px; 
    img {
      height: 50px;
      width: 50px;
    }
    h5 {
      color: #3f51b5;
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
    }
  }
  .checkin-body {
    hr {
      border: 1px dotted white;
    }

    .proceed-btn {
      background-color: #3f51b5;
      color: #fff;
      font-weight: 500;
      position: absolute;
      margin: 30px auto;
      right: 0;
      left: 0;
      width: fit-content;
      margin-bottom: 30px;
    }
  }
  label {
      font-weight: 500;
  }
  span {
    padding: 10px;
  }
}
