<div class="container-fluid checkin-container">
  <div class="row m-0 checkin-header">
    <div>
      <img src="../../assets/img/circled-left-arrow.png">
      <h5>Check In Details</h5>
    </div>
  </div>
  <hr>
  <div class="checkin-body">
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">User Details</h4>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
            [(ngModel)]="bookingData.username">
        </div>
        <div class="form-group">
          <label for="vehicle">Vehicle No</label>
          <input type="text" class="form-control" id="vehicle" placeholder="Enter Name" name="vehicle"
            [(ngModel)]="bookingData.vehicleNumber">
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="text" class="form-control" id="contact" placeholder="Enter Name" name="contact"
            [(ngModel)]="bookingData.contact">
        </div>
      </div>
    </div>
    <hr />
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">Parking Details</h4>
        <div>
          <label>Location :</label>
          <span [(ngModel)]="bookingData.parkingName">Gold Adlabs, Kalyani Nagar</span>
        </div>
        <div>
          <label>In Time :</label>
          <span [(ngModel)]="bookingData.startTime">11.30 AM</span>
        </div>
        <div>
          <label>Out Time :</label>
          <span [(ngModel)]="bookingData.endTime">1:30 PM</span>
        </div>
        <div>
          <label>Parking Slot :</label>
          <span [(ngModel)]="bookingData.slotNumber">C3 </span>
        </div>
        <div>
          <label>Fees : Rs. 80</label>
          <span [(ngModel)]="bookingData.amount"></span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-light proceed-btn" (click)="payNProceed()">Pay and Proceed</button>
  </div>
</div>