<div class="container-fluid where-to-container" >
  <div class="row m-0 where-to-header">
      <button type="button" class="btn btn-light float-right my-bookings-btn">My Bookings</button>
      <div>
          <img src="../../assets/img/circled-left-arrow.png">
          <h5>Enter Location</h5>
      </div>
  </div>
  <hr>
  <form [formGroup]="searchForm" class="login-container" (ngSubmit)="searchLocation()">
  <div class="where-to-body">
      <div class="form-group">
          <label for="Location" class="location">Location
              <input type="text" [ngClass]="{ 'has-error': isSubmitted && formControls.location.errors }" class="form-control" formControlName="location" id="Location" placeholder="Where you want to park your car?">
          </label>
      </div>
      <div class="form-group">
          <label for="start-time" class="start-time">Start-Time
              <input type="time" [ngClass]="{ 'has-error': isSubmitted && formControls.time.errors }" class="form-control" formControlName="time" id="start-time" placeholder="Please enter start time">
          </label>
      </div>
      <div class="form-group">
          <label for="duration" class="duration">End Time
              <input type="number" [ngClass]="{ 'has-error': isSubmitted && formControls.endTime.errors }" class="form-control" formControlName="endTime" id="duration" placeholder="Please enter duration">
          </label>
      </div>
      <button type="sumit" class="btn btn-light my-bookings-btn">Check Available Locations</button>
  </div>
  </form>
</div>
