<h2>Confirmation Summary</h2>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      User Name: 
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Slot details:
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Vehicle Number: 
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      In Time:
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Out Time:
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Booking Status:
    </div>
    <div class="col-md-4">
      username
    </div>
  </div>
</div>