@tailwind preflight;
@tailwind components;

body {
  background-color: #f2f2f2;
}
.top-nav:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
.sub-nav:hover ul.subdropdown{
    display: block;	/* Display the dropdown */
}
.garage:hover ul.garageModel{
    display: block;	/* Display the dropdown */
}
.sidebar-transition {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
.menu-shadow {
    box-shadow: inset 5px 0px 14px 0px rgba(0, 0, 0, 0.17);
}
.text-ellipsis {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-orient: horizontal;      /* Mozilla */
  -webkit-box-orient: horizontal;   /* WebKit */
  box-orient: horizontal;
  height: 68px;
}
.appr-btn {
  -webkit-appearance: button;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@tailwind utilities;