<!--The content below is only a placeholder and can be replaced.-->
<div class=" container-fluid root-container" style="text-align:center">
        <!-- <h1>
            {{ 'label_name' | translate }}!
        </h1> -->
        <div>
            <img src="../assets/img/bg.png" />
        </div>
    
        <div class="btn-grp row m-0">
            <button type="button" routerLink="operator/search-location" class="btn btn-light col-6 float-left">Operator</button>
            <button type="button" routerLink="user/search-location" class="btn btn-light col-6 float-right">User</button>
        </div>
    
    </div>
