@import "../../../../assets/scss/variable.scss";
.available-locations-container {
  background-color: #ffc306;
  height: 100vh;
  .available-locations-header {
    height: 50px;
    padding-top: 10px;
    img {
      height: 50px;
      width: 50px;
    }
    h5 {
      color: #3f51b5;
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
    }
  }
  .available-locations-body {
    .btn-grp {
      font-size: 24px;
      button {
        height: 100px;
        width: 100px;
        flex: 0 0 44%;
        max-width: 44%;
        margin: 3%;
        background: rgba(255, 255, 255, 0.7);
      }
    }

    .select-location-btn {
      background-color: #3f51b5;
      color: #fff;
      font-weight: 500;
      position: absolute;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: fit-content;
      margin-bottom: 30px;
    }
  }
}
