.cardContainer {
  border: 1px solid black;
  width: '80%';
  height: 'auto';
  margin: 20px;
  background-color: 'light-gray';
  border-radius: 5px;
  box-shadow: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.centerAlign {
  align-content: center
}

.diseaseTitle {
  font-weight: bold !important;
}